.wrapper {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: auto;
    font-family: 'Fira Sans', sans-serif;
    background-color: #999999;
}

.map {
    width: 620px;
    height: 490px;
    border-radius: 10px;
    overflow: hidden;
}
.review-box {
    position: absolute;
    display: block;
    width:300px;
    border-radius: 5px;
    overflow: hidden;
    background-color: #ffffff;

}
.review-box__header {
    background-color: #ff8663;
    padding: 10px;
    color: #ffffff;
    position: relative;
}
.reviews {
    min-height: 150px;
}
.glyphicon-remove {
    position: absolute;
    right:10px;
    top:10px;
    cursor: pointer;
}
.title {
    width:80%;
}